body {
	color: lightgrey;
	background-color: black;
	margin: 0;
	text-align: center;
}

#navigation {
	background-color: #005;
	padding-top: 12px;
	padding-bottom: 12px;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}