/* CSS color variables */
:root {
	--color: rgba(5, 19, 54, 255);
	--highlight: rgba(23, 88, 207, 255);
	--bg-color: rgba(201, 187, 172, 255);
	--bg-dark: color(from var(--bg-color) srgb
		calc(r * 0.8)
		calc(g * 0.8)
		calc(b * 0.8) / alpha);
}

a:-webkit-any-link:active {
	color: #050505;
}
a:-webkit-any-link {
	color: var(--highlight)
}

/* Default styling for the body html */
body {
	color: var(--color);
	background-color: var(--bg-color);
	
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	font-size: 140%;

	/* overflow: hidden; */
	display: flex;
	flex-flow: column;
	align-items: center;
	position: relative;
	margin: 0px;
}

#landing-renderer {
	position: relative;
	bottom: 0;
	z-index: 2;
}

/* Top nav bar styling */
.navigation {
	color: var(--highlight);

	display: flex;
	flex-flow: row;
	justify-content: right;
	padding: 0px 10px;
	
	height: 5vh;
	margin-left: auto;
	position: relative;
	z-index: 100;
}
.navigation a {
	list-style: none;
	font-weight: normal;
	
	padding: 10px;

	font-size: larger;
	text-decoration: underline 0.08em rgba(0, 0, 0, 0);
	text-underline-offset: 0.2em;
	transition: text-decoration-color 0.4s, text-underline-offset 0.4s;
}

.navigation a:hover {
	text-decoration-color: rgba(0,0,3,1);
	text-underline-offset: 0.4em;
}

/* Styling for landing page content */
.center-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
}
.center-container h1 {
	font-family: math, Times, serif;
	font-size: 400%;
	padding: 0px 30px;
	margin-top: 150px;
	margin-bottom: 0px;
}
.center-container h3 {
	font-weight: normal;
	padding: 0px 35px;
	margin: 0px;
	color: var(--highlight);
}

/* button layout style */
.button-layout {
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(0px,calc(0.25 * (100vw - 450px)), 80px);
}

/* anchor styling */
.button-layout a {
	--side-length: clamp(50px, calc(0.2 * (100vw - 350px)), 90px);
	fill: var(--color);
	text-decoration: none;
	padding: 0px 10px;
	vertical-align: middle;

	transition: color 0.4s, fill 0.4s;
}
.button-layout a:hover {
	fill: var(--highlight);
}
.button-layout a svg {
	padding-top: 5px;
	width: var(--side-length);
	height: var(--side-length);
}

#email {
	font-family: math;
	font-size: var(--side-length);
	color: var(--color);
}
#email:hover {
	color: var(--highlight);
}
#resume {
	height: calc(var(--side-length) - 15px);
	padding-top: 12px;
	padding-bottom: 8px;
}